.addtask{
    border-radius: 12px;
    height: 22px;
      width: 22px;
      /* background-color: #16b6ae; */
      border-color: rgba(120, 137, 175, 0.767);
    }
    .addtask:hover{
      border-radius: 12px;
      height: 22px;
        width: 22px;
        /* background-color: #19ccc3; */
        border-color: rgba(214, 219, 230, 0.767);
      }



button{
  background-color: #20a3d657;
}

.no_rules_choice button{
  height: 50px;
  width: 100px;
}

.helper button {
  color: #000000;
  /* background-color: rgb(143, 150, 147); */
}

.folders button {
  border-color: rgb(255, 255, 255);
  border-radius: 7px;
  /* background-color: rgb(134, 185, 129); */
  height: 15%;
  width: 25%;
  color: #000000;
  margin-bottom: 3px;
}

.helperSearch button{
  width: 7%;
}

.link button {
  height: 8%;
  width: 13%;
}

.lmenu button {
  border-color: rgb(230, 153, 123);
  border-radius: 4px;
  /* background-color: rgb(63, 194, 194); */
  /* height: 7%; */
  min-width: 80%;
  margin: 1px;
  padding: 3px;
}

.lmenu button:hover {
  border-color: rgb(204, 130, 101);
  border-radius: 4px;
  /* background-color: rgb(40, 211, 211); */
  /* height: 7%; */
  min-width: 80%;
  margin: 1px;
  padding: 3px;
}

.MisPanel button {
    display: inline;
    text-align: center;
    border-color: rgb(230, 153, 123);
    min-width: 6.5%;
    /* background-color: rgba(38, 192, 231, 0.178); */
    padding: 2px;
}

.MisPanel button:hover {
    text-align: center;
    border-color:rgb(214, 118, 81);
    min-width: 6.5%;
    /* background-color: rgba(38, 192, 231, 0.288); */
    padding: 2px;
}

.document{
  background-color: rgb(45, 216, 29);
}

button {
  border-color: rgb(187, 167, 159);
  border-radius: 15px;
  /* background-color: rgb(160, 233, 233); */
}

button:hover {
  border-color: rgb(153, 140, 135);
  border-radius: 15px;
  /* background-color: rgb(79, 233, 233); */
}

.autorize button {
  height: 30px;
  margin-top: 10px;
  margin-left: 7%;
  background-color: #519e87;
  border-color: #f19426;
  border-radius: 11px;
  width: 150px;
}

.autorize button:hover {
  height: 30px;
  margin-top: 10px;
  margin-left: 7%;
  background-color: #1dd8a0;
  border-color: #c2863c;
  border-radius: 11px;
  width: 150px;
}

/* end .slideThree */