#navbar{
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  #navbar li { 
	  display: inline; 
	}
#navbar {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 2px solid #00a2ff27;
	border-radius: 20px 5px;
	width: 100%;
	text-align: center;
	background-color: #345d7933;
  }
  #navbar a {
	color: rgb(255, 255, 255);
	/* padding: 5px 10px; */
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	width: 100px;
  }
  #navbar a:hover {
	  bac
	border-radius: 10px 5px;
	background-color: #2664d625;
  }
  body{
	background: linear-gradient(45deg, #b85615, #C5DDE8);
  }