.full{
    display: grid;
    grid-template-columns: 120px 1fr;
    height: 55%;
    border: 2px solid #00ccff07;
}

.Ava{
display: grid;
width: 63px;
justify-items: end;
align-content: center;
margin-top: -1px;
}

.date{
    display: grid;
    align-content: end;
    justify-items: end;
    width: 110px;
}

.exit{
    color: #888;
    size: 10px;
}

.full button{
font-size: 12px;
    height: 19px;
    background-color: #ff8282da;
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

.full button:hover{
    background-color: #ff2424;
    color: rgb(255, 255, 255);
    border-radius: 12px;
}

.edit_profile{
    display: grid;
    justify-content: end;
}

   A {
    color: rgb(255, 0, 0); /* Цвет ссылок */
    font-weight: 600;
    font-size: 13px;
    width: auto;
   }
   A:visited {
    color: #7c2525; /* Цвет посещенных ссылок */
    font-weight: 900;
   }
   A:active {
    color: #ff0000; /* Цвет активных ссылок */
   }

   .full_profile_page{
    display: grid;
justify-content: center;
grid-template-columns: 38%;
   height:10%;
   }
   .Ava_profile_page{
   width: 100%;
   display: grid;
   justify-content: center;
   height: auto;
}

    .Ava_profile_page img{
   width: 100%;
   display: grid;
   justify-content: center;
   height: auto;
}

.img{
    width: 252px;

}
.edit_profile{
    display: grid;
    margin-right: 5px;
    margin-top: -45px;
}
/* .edit_profile img{
    display: grid;
    margin-right: 5px;
    margin-top: -45px;
} */
.date_profile_page{
    font-size: 22px;
    font-weight: 900;
    color: rgb(255, 32, 32);
    font-family: Georgia, 'Times New Roman', Times, serif;
}