.all{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}
.header{
   
    height: 150px;
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    grid-template-columns: 1fr 2fr 1fr;
    
}

button{
    border-color: rgb(187, 167, 159);
    border-radius: 15px;
    background-color: rgb(160, 233, 233);
}

.ym{
    padding: 15px; /* Надо посмотреть как делать правильно отступы на Гридах*/
    justify-content: start;
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}
.helper{
    justify-content: center;
    align-content: center;
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}
.MD{
    width: 150px;
    height: 60px;
}
.autorize{
    padding: 15px;/* Надо посмотреть как делать правильно отступы на Гридах*/
}

.body{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    grid-template-columns: 15% 60% 25%;
    height: 350px;
}
.footer{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    height: 100px;
}
.lmenu{
    padding: 15px;
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}
.rmenu{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}
.container{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}



body{
    background-color: rgb(125, 139, 168);
}
iframe{
    width: 98%;
    height: 95%;
    margin: 1%;
}