.all{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
}
div{
border: 1px solid rgba(255, 255, 255, 0);
}
.header{
   margin-bottom: 10px;
    height: 100px;
    display: grid;
    background-color: rgb(113, 130, 165);
    grid-template-columns: 23% 50% 27%;
}
button{
    border-color: rgb(187, 167, 159);
    border-radius: 15px;
    background-color: rgb(160, 233, 233);
}
.Right_head{
    padding: 5px; /* Надо посмотреть как делать правильно отступы на Гридах*/
    justify-content: start;
    display: grid;
height: 100px;
}
.knowledge{
    justify-content: center;
    align-content: center;
    display: grid;
}
.MD{
    width: 100%;
    height: 60px;
    font-weight: 600;
    color: #313131;
}
.CSD{
    padding: 15px;/* Надо посмотреть как делать правильно отступы на Гридах*/
}
.body{
    display: grid;

    grid-template-columns: 13% 57% 30%;
    height: 410px;
}
.footer{
    display: grid;
    align-content: center;
    height: 100px;
    grid-template-columns:40% 20% 40%;
    background-color: rgb(113, 130, 165);
}
.lmenu{
    background-color: rgb(125, 139, 175);
    padding: 15px;
    display: grid;
}
.rmenu{
    border: 3px solid rgba(125, 185, 200, 0.377);
    display: grid;
    background-color: rgba(125, 155, 195, 0.466);
}
.container{
    display: grid;

}
body{
    background-color: rgb(125, 139, 168);
}
iframe{
    width: 98%;
    height: 95%;
    margin: 1%;
    border: 0px;
}
.lmenu button {
 
    border-color: rgb(230, 153, 123);
    border-radius: 4px;
    background-color: rgb(63, 194, 194);
    height: 7%;
    width: 80%;
    margin: 1px;
}
.docs{
    height: 300px;
    width: 100%;
    margin: 3px;
}
.helper button{
color: #ffffff;

    background-color: rgb(143, 150, 147);
}
.docs button{
    border-color: rgb(255, 255, 255);
    border-radius: 7px;
    background-color: rgb(47, 167, 36);
    height: 15%;
    width: 25%;
    color: #000000;
    margin-bottom: 3px;
}
.allAutorize{
    display: grid;
    justify-content: center;
    margin-top: 5%;

}
.autorize{

    display: grid;
    border: 1px solid rgba(0, 225, 255, 0.062);
justify-content: center;
    height: 200px;


}
.autorize button{
    height: 75px;
    margin-top: 5px;
    margin-left: 22%;
    background-color: #589e51;
    border: 3px solid #00fff2;
    border-radius: 40px;
    width: 50%;
}
.clock{
display: grid;
justify-self: end;
font-size: 35px;
padding: 10px;
color: #ffffff;
align-content: center;
}
textarea[name="body"]{
    border: 1px solid rgb(0, 255, 221);
    background-color: #eaf5e5;
    height: 180px;
    width: 90%;
}
label{
    font-size: 12px;
    color: rgb(37, 37, 37);
}
.taskadd{
    margin: 1% 0% 0% 1%;
}
.return{
    width: 24px;
    height: 24px;
}
.taskheader{
    display: grid;
    justify-content: end;
  }

/*  Изменение цвета текста в плейс холдере для разных браузеров.

Современные браузеры 
   ----------------------------  */
   input::placeholder {color: #444444b6;}

   /* WebKit, Edge
      ----------------------------  */
   input::-webkit-input-placeholder {color: #444444b6;}
   
   /* Edge
      ----------------------------  */
   input::-ms-input-placeholder {color: #444444b6;}
   
   /* Firefox 4-18
      ----------------------------  */
   input:-moz-placeholder {color: #444444b6;}
   
   /* Firefox 19+
      ----------------------------  */
   input::-moz-placeholder {color: #444444b6;}
   
   /* IE 10-11
      ----------------------------  */
  input:-ms-input-placeholder {color: #444444b6;}